---
import Layout from '../../layouts/Layout.astro';

const posts = await Astro.glob('../../content/blog/**/*.md');
---

<Layout title="Blog" description="A collection of articles about Flash Games">
    <h1 class="text-3xl font-bold mb-4">Blog</h1>
    <ul>
        {posts.map((post) => (
            <li class="mb-4">
                <a href={post.url} class="text-blue-500 hover:underline">
                    {post.frontmatter.title}
                </a>
                <time datetime={post.frontmatter.pubDate} class="text-gray-500 ml-2">{new Date(post.frontmatter.pubDate).toLocaleDateString()}</time>
                <p class="text-gray-700">{post.frontmatter.description}</p>
            </li>
        ))}
    </ul>
</Layout>